$kotlarkaBlue: #243a65;
$kotlarkaRed: #b9141a;

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins;
    color: black;
    // letter-spacing: 0.2rem;
}

header {
    display: flex;
    flex-direction: row;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // here it is
    height: 100vh;
    // gap: 15vw;
}
div.top{
    display: flex;
    justify-content: center;
    align-items: center;
    // here it is
    height: 80vh;
    gap: 15vw;
}
// div.bottom{
    
// }

.music-player{
    display: flex;
    flex-direction: row;
    background-color: black;
    border-radius: 0.75rem;
    padding: 0.5rem 1.5rem;
    gap: 3rem;
}

.buttons {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}

.upload {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 0.5rem;
    cursor: pointer;

    >p {
        text-align: center;
    }
}

.players {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.player-wrapper{
    display: flex;  
}
.player-name {
    height: 3rem;
    width: 10rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem 0 0 0.75rem;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    >p {
        color: white;
    }
}
.player-music{
    background-color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 0 0.75rem 0.75rem 0;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bi-pause-fill{
    display: none;
}
.general-play, .general-pause{
    display: none;
}
.visible{
    display: block;
}
.playing{
    > .player-name{
        background-color: $kotlarkaRed;
        border-color: $kotlarkaRed;
    }
    > .player-music{
        border-color: $kotlarkaRed;
        > svg{
            fill: $kotlarkaRed;
        }
        > .bi-play-fill{
            display: none;
        }
        > .bi-pause-fill{
            display: block;
        }
    }
}
.coming-soon {
    height: 100%;
    width: calc(100% - 4rem);
    background-color: #000000;
    z-index: 1000;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    padding: 0rem 2rem;
    > p,
    button {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 0.2rem;
        text-decoration: none;
    }
    > p{
        color: white;
    }
}
.close {
    margin-top: 2rem;
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    border: 3px solid $kotlarkaRed;
    color: $kotlarkaRed;
    background-color: transparent;
    cursor: pointer;
}
